*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--BackgroundSite);
    /*background-image: url(../img/Cover.png);
    background-size: 100%;
    background-repeat: no-repeat; /*no repeat the bg picture */

    /*footer*/
    min-height: 100%; 
    display: flex;
    flex-direction: column;

    
}

footer{
    background-color: var(--header);
    /*padding: 1.5%;*/
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

footer img{
    width: 20px;
    height: 20px;

}

footer p, img{
    margin: 1%;
}


main{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    color: white;

}

main p{
    font-size: 24px;
    
}

table{
    border: 10px;
    border-color: white;
    background-color: gray;
    color: black;
}

table td{
    padding: 10px;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

html{
    --header: #696969;
    --LoginButtom: #D3D3D3;
    --BackgroundSite: black;
    --opbg: #BEBEBE;
    --opbglight: #D3D3D3;

    height: 100%;
    min-height: 100%;
}

.header{
    background-color: var(--header);
    padding: 7px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.LoginButtom{
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--LoginButtom);
    cursor: pointer;
}

.LoginButtom:hover{
    filter: brightness(1.2);/*brightness the button*/
}

.options{
    background-color: var(--header);
    padding-bottom: 7px;
}

.opul{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.opli{
    padding: 5px;
    background-color: var(--opbg);
    cursor: pointer;
    border-radius: 5px;
}

.opli:hover{
    background-color: var(--opbglight);
    cursor: pointer;
}

.field{
    /*max-width: 80%;*/
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    display: flex;
}

.TextWelcome{
   background: transparent;
}

.MyFace{
    width: 80%;
    height: 80%;
    margin-left: 10px;
}

.news{
    text-align: center;
    align-items: center;
}

.slideshow{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: white;
    padding-left: 3%;
    padding-right: 3%;*/
}

.imgNews{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.imgNews:hover{
    cursor: pointer;
}



/*.news>ul{
    display: flex;
}*/
/*Matters*/
.matter{
    text-align: center;
    align-content: center;
}

.opmatters{
    display: flex;
    
}

.opmatters li{
    display: contents;
    margin: 1%;
}

.turbnail img{
    max-width: 80%;
    max-height: 80%;
}

